
.ctn-1{
    display: inline-block;
}

.div-1{
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100%;
}


.div-2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    float:left;  
    padding: 3%;
}
.mb-1{
    padding: 3%;
}
.sub-menu{
    padding: 5%;
}
.texto-saldo .saldo{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    float:right;  
    padding: 5%;
}
